table,td {
    width: auto;
    word-break: break-all;
    vertical-align: top;
    padding: 5px;
    border: 1px solid black;

}

form{
    width: auto;
    word-break: break-all;
    vertical-align: top;
    padding: 5px;



}

div.a {
    width: auto;
    display: inline-flex;
    word-break: break-all;
    vertical-align: top;
    margin-top: 2px;
    margin-bottom: 2px;
}

a{
    margin-right: 10px;


}