<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div style="padding: 20px" th:fragment="header">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"></link>

    <div style="display: inline"> <a th:href="@{/}">Strona główna</a></div>

    <div style="display: inline" sec:authorize="isAuthenticated()"><a th:href="@{/user/my_profile}">Mój profil</a></div>

<div style="display: inline" sec:authorize="isAnonymous()">
    <a href="/user/login" th:href="@{/user/login}">Zaloguj</a>
</div>
<div style="display: inline" sec:authorize="isAnonymous()">
    <a href="/user/register" th:href="@{/user/register}">Zarejestruj</a>
</div>

<div style="display: inline" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/user/admin}">Admin panel</a></div>
<div style="display: inline" sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" style="display: inline;" method="post"><input type="submit" value="Wyloguj"/></form>
</div>
<div sec:authorize="isAuthenticated()" th:inline="text" style="float:right;">
    Zalogowany jako: [[${#httpServletRequest.remoteUser}]]
</div>
</div>
</body>
</html>