<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Wysłane prywatne wiadomości</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>


<form th:action="@{/private_messages/}" method="get">

    <button type="submit">Otrzymane wiadomości</button>
</form>

<br/>Twoje wysłane wiadomości:<br/>
<div th:each="message : ${sentMessages}">
    <table style="width: 1000px; border-bottom: 0px">
        <tr>
            <td style="font-weight:bold">Odbiorca:</td>
            <td style="font-weight:bold">Data:</td>
            <td style="font-weight:bold">Przeczytaj całą wiadomość:</td>
        </tr>
        <tr>

            <td style="width: 100px">
                <a th:href="@{'/user/user_profile/'+${message.receiver_name}}" th:text="${message.receiver_name}"/>

            </td>


            <td style="width: 150px" th:text="${message.date}"></td>


            <td style="width: 100px">
                <center>
                    <form th:action="${message.private_message_id}" method="get">

                        <input type="submit" value="Wejdź"/>

                    </form>
                </center>
            </td>
            <br/>
        </tr>
    </table>
    <table style="width: 1000px; border-top: 0px; border-bottom: 0px">
        <tr>
            <th style="width: 50px; text-align: left">Temat:</th>
        </tr>
        <tr>
            <td class="a" th:text="${#strings.abbreviate(message.topic,100)}"></td>
        </tr>
    </table>
    <table style="width: 1000px; border-top: 0px">
        <tr>
        <tr>
            <th style="width: 50px; text-align: left">Treść wiadomości:</th>
        </tr>
        <td class="a" th:text="${#strings.abbreviate(message.content,500)}"></td>

        </tr>
    </table>
</div>
</body>
</html>